.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 중첩 모달이 아닌 경우에만 배경색 적용 */
.backdrop:last-child {
  background-color: rgba(0, 0, 0, 0.5);
}

.backdrop:not(:last-child) {
  background-color: transparent;
}

.modalContent {
  position: relative;
}

