.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.backdrop.nested {
  background-color: transparent;
  pointer-events: none;
}

.modalContent {
  position: relative;
  z-index: 1;
}

.backdrop.nested .modalContent {
  pointer-events: auto;
}

