.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1168px;
}

/* Filter Section */
.filter {
  width: 100%;
  height: 48px;
}

.filterContent {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.selectBox {
  width: 120px;
}

/* Gap Section */
.gap {
  width: 100%;
  height: 42px;
}

/* Main Content Section */
.main {
  width: 100%;
  height: auto;
  min-height: 300px;
}

.mainContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Image Grid */
.imageGrid {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 40px;
  align-items: center;
}

.imageItem {
  width: 640px;
  height: 640px;
  overflow: hidden;
  border-radius: 24px;
}

.imageItem:last-child {
  margin-bottom: 40px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
}

